<app-chatbot></app-chatbot>
<!-- <div class="bg-container">
  <div class="bg-chatbot">
    <div class="chatbot-content">
      <div class="chat-container">
        <div class="chat-message bot">
          <p class="bot-icon">
            <mat-icon>smart_toy</mat-icon>
          </p>
          <h3 class="chat-message bot-message">
            Hi! Welcome to iamneo Admission Portal
          </h3>
          <h3 class="chat-message bot-message">
            Hi! Welcome to iamneo Admission Portal
          </h3>
          <h3 class="chat-message bot-message">
            Hi! Welcome to iamneo Admission Portal
          </h3>
        </div>
        <div
          *ngFor="let message of chatMessages; let i = index"
          class="chat-message user"
        >
          <div *ngIf="!isEditing[i]">
            {{ message }}
            <button (click)="startEditing(i)" class="editicon">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div *ngIf="isEditing[i]">
            <input type="text" [(ngModel)]="editedMessages[i]" />
            <button (click)="saveEdit(i)">Save</button>
          </div>
        </div>
      </div>
      <div class="user-input">
        <input
          type="text"
          [(ngModel)]="newMessage"
          placeholder="Type your message..."
        />
        <button class="sendicon" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="bg-container">
  <div class="bg-chatbot">
    <div class="chatbot-content">
      <div class="chat-container">
        <div class="chat-messagebot">
          <div class="bot-icon">
            <mat-icon class="toy">smart_toy</mat-icon>
          </div>
          <h3 class="chat-message1">Hi! Welcome to iamneo Admission Portal</h3>
        </div>
        <div class="chat-message2">
          <h3 class="chat-message bot-messageb1">
            We're here to assist you in every step of your journey toward
            joining the institution. Let's start the process of helping you
            achieve your academic goals.
          </h3>
          <h3 class="chat-message bot-messageb1">What’s your Full name?</h3>
        </div>

        <div
          *ngFor="let message of chatMessages; let i = index"
          class="chat-message user"
        >
          <div *ngIf="!isEditing[i]">
            {{ message }}
            <button (click)="startEditing(i)" class="editicon">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div *ngIf="isEditing[i]">
            <input type="text" [(ngModel)]="editedMessages[i]" />
            <button (click)="saveEdit(i)">Save</button>
          </div>
        </div>
      </div>
      <div class="user-input">
        <input
          type="text"
          [(ngModel)]="newMessage"
          placeholder="Type your message..."
        />
        <button class="sendicon" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>

</div> -->

<!-- profile.component.html -->

<div class="bg-chatbot">
  <div class="chatbot-content">
    <div class="chat-container">
      <div class="auto-generate-messages" *ngIf="!showAutoGeneratedMessages">
        <p class="eye-icon">
          <mat-icon class="eye-icon" (click)="generateAutoMessages()"
            >info_i</mat-icon
          >
        </p>
        <h4 (click)="generateAutoMessages()" class="generate-button">
          <ol>
            <li>
              To engage with the chatbot and submit your personal information,
              simply click on the info icon.
            </li>
            <br />
            <li>
              This action will open a conversation window, allowing you to
              effortlessly share the required details in a seamless and
              user-friendly manner.
            </li>
            <br />
            <li>
              The chatbot will guide you through the process, ensuring your
              information is securely collected and accurately recorded.
            </li>
            <br />
            <li>
              Feel free to begin the interaction by clicking the icon, and our
              chatbot will assist you in providing your information efficiently.
            </li>
          </ol>
        </h4>
      </div>
      <div class="chatbotusercontainer">
      <ng-container *ngIf="showAutoGeneratedMessages">
        
        <!-- <div class="chatautomsg">
          <div class="bothead">
            <div class="smart_toy"><mat-icon>smart_toy</mat-icon></div>
            <h3 class="auto-generated-message1">
              Hi! Welcome to iamneo Admission Portal
            </h3>
          </div>
          <div class="botnext">
            <h3 class="auto-generated-message2">
              We're here to assist you in every ste of your journey toward
              joining the institution. Let's start the process of helping you
              achieve your academic goals.
            </h3>
            <h3 class="auto-generated-message3">What’s your Full name?</h3>
          </div>
        </div> -->
        <div class="chat-box">
          <div class="bot-icons-text">
            <div class="bot-icon">

            </div>
            <div class="bot-text">

            </div>
          </div>
          <div class="user-icons-text">
            <div class="user-icon">

            </div>
            <div class="user-text">
              
            </div>
          </div>
        </div>
        <div class="usermsg">
          <div
            *ngFor="let message of chatMessages; let i = index"
            class="chat-message user"
          >
            <div *ngIf="!isEditing[i]">
              {{ message }}
              <button (click)="startEditing(i)" class="editicon">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div *ngIf="isEditing[i]">
              <input type="text" [(ngModel)]="editedMessages[i]" />
              <button (click)="saveEdit(i)">Save</button>
            </div>
          </div>
        </div>
      </ng-container>
      </div>

      <div class="user-input" *ngIf="showSendIcon">
        <input
          type="text"
          [(ngModel)]="newMessage"
          placeholder="Type your message..."
        />
        <button class="sendicon" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>